* {
    box-sizing: border-box;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

#app {
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
    min-width: 960px;
    min-height: 500px;
    font-family: sans-serif;
    font-size: 10;
    text-anchor: middle;
}


.node--internal circle {
    fill: #555;
}
  
.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}